/******************************************************************
Site Name: MTB
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
}

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

/*********************
CONTENT STYLES
*********************/

/*********************
FOOTER STYLES
*********************/