/******************************************************************
Site Name: MTB
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

html {
	font-size: 96%;
}